<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>何東霓簡介</title>
</head>
<body>
<font face= "標楷體">
	<center><table width="70%">
		<tr>
			<td>
				<h1>何東霓</h1>
				<font face= "Times New Roman"><h2>Dong-Ni Herh</font></h2><br>
			</td>
		</tr>
	</table></center>

	<center><table width="70%" border="1">
		<tr>
			<td>
				個人網頁：<a href="https://sites.google.com/view/dnherh/"target="_blank">https://sites.google.com/view/dnherh/</a><br>
				Portaly：<a href="https://portaly.cc/dongniherh/"target="_blank">https://portaly.cc/dongniherh/</a><br>
				Tel：<a href="tel:+886-4-26328001">04-26328001</a><br>
				E-mail：<a href="mailto:s1121427@pu.edu.tw">s1121427@pu.edu.tw</a><br>
			</td>
</font>
</body>
</html>